<footer>
    <div>
        <p>
            Documentation de l'API : <a href="http://localhost:8000/api-docs">Swagger</a>
        </p>
    </div>
    <div>
        <p>
            Created by ©swings27
        </p>
    </div>
</footer>