.chart-title {
    background-color: rgb(5, 10, 89);
    text-transform: uppercase;
    width: min(40%, 400px);
    margin: 50px auto;
    padding: 15px 0;
    border-radius: 50px;
}

.wrapper {
  max-height: 500px;
  overflow-y: auto;
}

table {
  width: min(80%, 1000px);
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

thead th {
  position: sticky;
  top: 0;
  background-color: rgb(5, 10, 89);
  z-index: 10;
}

thead th:first-child {
  border-top-left-radius: 12px;
}

thead th:last-child {
  border-top-right-radius: 12px;
}

th, td {
  padding: 12px 15px;
  white-space: nowrap;
}

th {
  background-color: rgb(5, 10, 89);
  color: #fff;
  text-transform: uppercase;
}

td {
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #d1f0ff;
  cursor: pointer;
}