.dashboard {
    display: flex;
    flex: 1;
    width: 100%;
}

.navigation {
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(5, 10, 89);
    border-radius: 0 25px 0 0;
}

.dashboard-title {
    color: white;
    text-transform: uppercase;
    word-spacing: 5px;
    padding: 30px 5px;
}

.profile {
    color: white;
    margin: 20px auto;
    border: 5px solid white;
    border-radius: 60px;
    padding: 20px 10px;
    width: 80%;
}

.profile-pic {
    width: 100px;
    height: 100px;
}

nav ul li {
    border-top: 1px solid white;
    padding: 10px 0;
    color: white;
    font-size: 1.3em;
}

nav ul li:hover {
    font-weight: 600;
    background-color: #d1f0ff;
    color: rgb(5, 10, 89);
    cursor: pointer;
}

.navigation .blue-button {
    margin-top: 70px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.overview {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation, .overview {
    min-height: 0;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 150px;
    padding: 15px;
    text-align: left;
}

.data-infos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.main-content {
    display: flex;
    flex: 1;
    background-color: white;
    min-height: 0;
}

.summary {
    flex: 4;
}


