.dashboard {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 100vh;
}
.navigation {
    width: 15%;
    background-color: rgb(5, 10, 89);
    border-radius: 0 25px 25px 0;
}

.dashboard-title {
    color: white;
    text-transform: uppercase;
    word-spacing: 5px;
    font-family: "Libre Bodoni", Georgia, serif;
    padding: 30px 5px;
}

.profile {
    color: white;
    margin: 20px auto 100px;
    border: 5px solid white;
    border-radius: 60px;
    padding: 20px 10px;
    width: 80%;
}

.profile-pic {
    width: 100px;
    height: 100px;
}

nav ul li {
    border-top: 1px solid white;
    padding: 10px 0;
    color: white;
    font-size: 1.3em;
}

nav ul li:hover {
    font-weight: bold;
    background-color: #d1f0ff;
    color: rgb(5, 10, 89);
    cursor: pointer;
}

.navigation button {
    margin-top: 100px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.overview {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.data {
    padding: 15px;
    text-align: left;
}

.main-content {
    display: flex;
    flex: 1;
    background-color: white;
}

.summary {
    flex: 4;
}

h3 {
    text-transform: capitalize;
    color: white;
    margin: 25px 0;
}