.dashboard {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 100vh;
}
.navigation {
    width: 15%;
    background-color: rgb(5, 10, 89);
    border-radius: 0 25px 25px 0;
}

h2 {
    color: white;
    font-family: "Libre Bodoni", Georgia, serif;
    padding: 30px 5px;
}

img {
    border-radius: 75px;
    margin: 20px 0 100px 0;
    padding: 10px;
    background-color: white;
    width: 80px;
    height: 80px;
}

nav ul li {
    border-top: 1px solid white;
    padding: 5px 0 7px 0;
    color: white;
}

nav ul li:hover {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.navigation button {
    margin-top: 100px;
}

.overview {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.data {
    padding: 15px;
    text-align: left;
}

.main-content {
    display: flex;
    flex: 1;
    background-color: white;
}

.summary {
    flex: 4;
}

.profile {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.322);
}

h3 {
    text-transform: capitalize;
    color: white;
    margin: 25px 0;
}