#profile-page {
    width: min(40%, 600px);
    margin: 40px auto;
}

#profile-page .container {
    padding: 30px;
    font-size: 1.2em;
}

.infos {
    text-align: left;
}

#picture {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

#profile-form {
    width: min(30%, 400px);
    margin: 0 auto;
}

#profile-page form {
    margin-top: 20px;
}