* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  text-align: center;
  background-color: #d1f0ff;
  font: 1em "Neuton", Georgia, serif;
}

.home {
  padding: 20px 0;
}

h1 {
  color: rgb(5, 10, 89);
  font-family: "Libre Bodoni", Georgia, serif;
  font-size: 4em;
}

.container-home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
}

.welcome-box {
  width: 30%;
  padding: 0 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 35px;
}

.form-group {
  width: auto;
  padding: 20px;
}

.welcome-text {
  padding-top: 20px;
  text-align: left;
  line-height: 1.5;
}

section {
  padding: 10px 0;
}

label {
  display: block;
  text-align: left;
  font-weight: 700;
  padding: 5px;
  font-size: 1.2em;
}

input {
  width: 100%;
  padding: 15px 10px;
}

button {
  border: none;
  border-radius: 10px;
  background-color: rgb(5, 10, 89);
  color: white;
  font-weight: 700;
  width: auto;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 15px auto;
}

button:hover {
  background-color: #d1f0ff;
  color: rgb(5, 10, 89);
  transition: 1s ease;
  cursor: pointer;
}

a {
  color: #00B7FF;
}

footer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgb(5, 10, 89);
  color: white;
}

footer div {
  padding: 10px 50px;
}
