* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

:root {
  --title-font: "Libre Bodoni", Georgia, serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  background-color: #d1f0ff;
  font: 1em "Neuton", Georgia, serif;
  overflow-x: hidden;
}

main {
  display: flex;
  flex: 1;
}

.main-content {
  overflow-y: auto;
}

.home {
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
}

h1, .dashboard-title, .welcome-title {
  font-family: var(--title-font);
}

h1 {
  color: rgb(5, 10, 89);
  font-size: 4em;
}

h3 {
    text-transform: capitalize;
    color: white;
    margin: 25px 0;
}

h4 {
  color: white;
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

.logo {
    border-radius: 75px;
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    width: 80px;
    height: 80px;
}

.container-home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  margin: 50px auto;
}

.welcome-title {
  color: white;
  background-color: rgb(5, 10, 89);
  border-radius: 50px;
  padding: 10px;
}

.container-home > .welcome-box,
.container-home > .login-form {
  flex: 1;          
  max-width: 800px; 
}

.welcome-box {
  padding: 0 20px;
}

.signin {
  width: 50%;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
}

.form-group {
  width: 100%;
  padding: 5px;
}

.welcome-text {
  padding-top: 10px;
  text-align: left;
  line-height: 1.5;
}

section {
  padding: 10px 0;
}

.label {
  display: block;
  text-align: left;
  font-weight: 700;
  padding: 5px;
  font-size: 1.2em;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
}

.blue-button {
  border: none;
  border-radius: 10px;
  background-color: rgb(5, 10, 89);
  color: white;
  font-weight: 700;
  width: auto;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 15px auto;
}

.blue-button:hover {
  background-color: #d1f0ff;
  color: rgb(5, 10, 89);
  transition: 1s ease;
  cursor: pointer;
}

.small-button {
  margin: 10px 0 5px 0;
  width: auto;
  padding: 10px;
  border-radius: 25px;
  border: 4px solid #fff;
  background-color: #d1f0ff;
  text-transform: uppercase;
  font-weight: bold;
}

.small-button:hover {
  cursor: pointer;
}

.back-button {
  background-color: white;
  border: 3px solid #d1f0ff;
  border-radius: 25px;
  padding: 5px;
  width: auto;
  margin: 50px 0 0 0;
}

a {
  color: #00B7FF;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 10, 89);
  color: white;
}

footer div {
  padding: 10px 50px;
}
